{% if step < 9 %}
	<h2>Abenteurer erschaffen: Schritt {{ step+1 }}</h2>
	<div class="well">
{% endif %}

	{{ content }}

	{% if step == 0 %}
		<h3>Namen wählen</h3>

		<form method="post">
			<div class="control-group strength">
				<label for="element-name">Name</label>
				<input class="input-xlarge" type="text" name="name" id="element-name">
			</div>

			<div class="control-group" style="text-align: right">
				<button type="submit" class="btn btn-primary">Weiter</button>
			</div>
		</form>
	{% elseif step < 5 %}
		{% include 'creation/select_element.twig' %}
	{% elseif step == 5 %}
		{% include 'creation/select_attributes.twig' %}
	{% elseif step == 6 %}
		<form action="{{ self }}" method="post">
			{% if error %}<div class="alert alert-error">{{ error }}</div>{% endif %}

			{% include 'creation/select_stats.twig' %}

			<div class="control-group" style="text-align: right">
				<button type="submit" class="btn btn-primary">Weiter</button>
			</div>
		</form>
	{% elseif step == 7 %}
		{% include 'creation/select_mondzeichen.twig' %}
	{% elseif step == 8 %}
		{% include 'creation/select_feinschliff.twig' %}
	{% endif %}

{% if step < 9 %}
</div>
{% endif %}

{% if step > 1 %}
<h2>Charakterübersicht</h2>
<div class="well">

	{% if step == 9 %}
		<h3>Erfahrung</h3>

		<table class="table table-striped">
			<tr>
				<th>Erhaltene EP</th>
				<td>{{ char.stats.ep.total|default(0) }}</td>
				<td style="padding: 3px">
					<form style="margin: 0" class="input-append" method="post" action="{{ self }}">
						<input type="text" style="width: 40px;" name="ep">
						<button type="submit" class="btn"><span class="icon-plus"></span></button>
					</form>
				</td>
			</tr><tr>
				<th>Ausgegebene EP</th>
				<td>{{ char.stats.ep.used|default(0) }}</td>
				<td style="padding: 3px"><a href="index.php?page={{ logpage }}&id={{ char.id }}" class="btn">Protokoll</a></td>
			</tr><tr>
				<th>Verfügbare EP</th>
				<td>{{ char.getAvailableEp() }}</td>
				<td style="padding: 3px"><a href="#" class="btn disabled">Steigern</a></td>
			</tr>
		</table>

		<div class="pull-right">
			<a href="index.php?page={{ cheatpage }}&id={{ char.id }}" class="btn btn-warning">Cheat Modus</a>
		</div>

	{% endif %}

	{% include 'creation/character.twig' %}
</div>
{% endif %}
