<script>
	var addFunctions = {};
</script>

{{ content|raw }}

<h2>Cheat Modus</h2>
<div class="well">
<form method="post" action="#">
	<div class="control-group" style="text-align: right">
		<a href="index.php?page={{ charpage }}&id={{ char.id }}" class="btn">Zurück</a>
		<button type="submit" name="continue" class="btn btn-warning">Speichern</button>
	</div>

	<ul class="nav nav-tabs" id="myTab">
		<li class="active"><a data-toggle="tab" href="#char-attr">Attribute</a></li>
		<li><a data-toggle="tab" href="#char-res">Resourcen</a></li>
		<li><a data-toggle="tab" href="#char-skills">Fertigkeiten</a></li>
		<li><a data-toggle="tab" href="#char-str">Stärken & Schwächen</a></li>
		<li><a data-toggle="tab" href="#char-mst">Meisterschaften</a></li>
		<li><a data-toggle="tab" href="#char-spells">Zauber</a></li>
		<li><a data-toggle="tab" href="#char-inventar">Inventar</a></li>
	</ul>

	<div class="tab-content">

		<div class="tab-pane active" id="char-attr">
			<h3>Attribute</h3>
			<table class="table table-striped">
				<tr>
					<th>Attribut</th>
					<th>Start</th>
					<th>Wert</th>
				</tr>
				{% for attrId, attrData in definitions.attributes %}
					<tr>
						<td>{{ attrData.name }}</td>
						<td><input name="start_attributes[{{ attrId }}]" value="{{ char.start_attribute[attrId] }}" type="text" class="spinedit start"></td>
						<td><input name="stats[attributes][{{ attrId }}]" value="{{ char.stats.attributes[attrId] }}" type="text" class="spinedit attr"></td>
					</tr>
				{% endfor %}
				<tr>
					<th>Summe</th>
					<th id="start_total"></th>
					<th id="attr_total"></th>
				</tr>
			</table>
		</div>

		<div class="tab-pane" id="char-res">
			<h3>Resourcen</h3>
			<table class="table table-striped">
				<tr>
					<th>Resource</th>
					<th>Wert</th>
				</tr>
				{% for resId, data in definitions.resources %}
					<tr>
						<td>{{ resId }}</td>
						<td><input name="stats[resources][{{ resId }}]" value="{{ char.stats.resources[resId] }}" type="text" class="spinedit res"></td>
					</tr>
				{%  endfor %}
				<tr>
					<th>Summe</th>
					<th id="res_total"></th>
				</tr>
			</table>
		</div>

		<div class="tab-pane" id="char-skills">
			<h3>Fähigkeiten</h3>
			<table class="table table-striped">
				<tr>
					<th>Fertigkeit</th>
					<th>Punkte</th>
				</tr>
				{% for skillId, skillData in definitions.skills %}
						<tr>
							<td>{{ skillId }}</td>
							<td><input name="stats[skills][{{ skillId }}]" value="{{ char.stats.skills[skillId] }}" type="text" class="spinedit skill"></td>
						</tr>
				{%  endfor %}
				<tr>
					<th>Summe</th>
					<th id="skill_total"></th>
				</tr>
			</table>
		</div>

		{% set multiple = 0 %}

		<div class="tab-pane" id="char-str">
			<h3>Stärken</h3>

			{% set type = 'strengths' %}
			{% set options = strengths %}
			{% include 'creation/stat_list.twig' %}

			<h3>Schwächen</h3>

			{% set type = 'weaknesses' %}
			{% set options = weaknesses %}
			{% include 'creation/stat_list.twig' %}

		</div>

		<div class="tab-pane" id="char-mst">

			<h3>Meisterschaften</h3>

			{% set type = 'masteries' %}
			{% set options = masteries %}
			{% include 'creation/stat_list.twig' %}

		</div>

		<div class="tab-pane" id="char-spells">

			<h3>Zauber</h3>

			<div id="spells">
				<ul class="statlist">
					{% for schule, spells in char.stats.spells %}
						{% for spell, value in spells %}
							<li>
								<input type="hidden" name="stats[spells][{{ schule }}][{{ spell }}]" value="1">
								<button type="button" class="btn btn-danger pull-right btn-mini" onclick="$(this).parent().remove();"><span class="icon-remove"></span></button>
								{{ schule }} : {{ spell }}
							</li>
						{%  endfor %}
					{%  endfor %}
				</ul>

				<select class="selectpicker span2" id="schule">
					{% for k,v in schulen %}
						<option value="{{ k }}">{{ k }}</option>
					{% endfor %}
				</select>

				<select class="selectpicker span3" id="spell" data-live-search="true">
					{% for k,v in spells %}
						<option value="{{ k }}">{{ v }}</option>
					{% endfor %}
				</select>

				<button type="button" class="btn" style="margin-bottom: 10px;" onclick="addListItem(this, true)">Hinzufügen</button>
			</div>

		</div>

		<div class="tab-pane" id="char-inventar">
			<h3>Inventar</h3>
			<textarea rows="6" style="width: 90%" name="inventory">{{ char.inventar }}</textarea>
		</div>
	</div>

	<div class="control-group" style="text-align: right; margin-top: 30px;">
		<a href="index.php?page={{ charpage }}&id={{ char.id }}" class="btn">Zurück</a>
		<button type="submit" name="continue" class="btn btn-warning">Speichern</button>
	</div>
</form>
</div>

<script>
	function addListItem(self, spell) {
		var div = $(self).parent();
		var list = div.find('.statlist');

		var type = div.attr('id');
		var li, key;

		if( spell ) {
			var schule = div.find('#schule').val();
			var zauber = div.find('#spell').val();

			key = schule+': '+zauber;
			li = $('<li><input type="hidden" name="stats['+type+']['+schule+']['+zauber+']" value="1"></li>');
		} else {
			key = div.find('.selectpicker').val();
			li = $('<li><input type="hidden" name="stats['+type+']['+key+']" value="1"></li>');
		}

		var remove = $('<button type="button" class="btn btn-danger pull-right btn-mini"><span class="icon-remove"></span></button>');

		remove.click(function () { li.remove(); });
		list.append( li.append(remove).append(key));
	}

	$(function () {
		function updateTotal() {
			var attr_total = 0;
			$('.spinedit.attr').each(function (k, v) { attr_total += v.value | 0; });
			$('#attr_total').text(attr_total );

			var res_total = 0;
			$('.spinedit.res').each(function (k, v) { res_total += v.value | 0; });
			$('#res_total').text(res_total);

			var skill_total = 0;
			$('.spinedit.skill').each(function (k, v) { skill_total += v.value | 0; });
			$('#skill_total').text(skill_total);

			var start_total = 0;
			$('.spinedit.start').each(function (k, v) { start_total += v.value | 0; });
			$('#start_total').text(start_total);
		}

		$('.add-list-item').click(function() { addListItem(this); });
		$('.spinedit').spinedit().on('valueChanged', updateTotal);
		$('.selectpicker').selectpicker();
		updateTotal();
	});
</script>

<style>
	h5 {
		font-size: 24.5px;
		background-color: transparent;
		padding: 0;
	}

	.tab-content {
		overflow: visible;
	}

	.statlist {
		list-style: none;
		margin: 10px;
	}

	.statlist li {
		background-color: #eee;
		border-radius: 5px;
		line-height: 20px;
		padding: 5px 10px;
		margin: 3px;
	}
</style>
