<h2>{{ title }}</h2>

{{ content|raw }}

<form class="form" action="{{ self }}" method="post">
	<div class="control-group pull-right">
		<button type="submit" class="btn btn-primary">Speichern</button>
	</div>

	<div class="control-group">
		<label for="element-name">Name</label>
		<input class="input-xxlarge" type="text" name="name" value="{{ post.name }}" id="element-name">
	</div>

	<div class="control-group">
		<label for="element-desc">Beschreibung</label>
		<textarea class="input-xxlarge" rows="6" name="description" id="element-desc">{{ post.description }}</textarea>
	</div>

	<div class="control-group" style="margin: 20px">
		<label for="element-public" class="checkbox">
			<input type="checkbox" name="public" value="1" id="element-public" {% if post.public %}checked{% endif %}>
			Veröffentlichen
		</label>
	</div>

	{% set multiple = 1 %}
	{% include 'creation/select_stats.twig' %}

	<div class="control-group pull-right">
		<button type="submit" class="btn btn-primary">Speichern</button>
	</div>
</form>
