<ul class="nav nav-tabs" id="myTab">
	<li class="active"><a data-toggle="tab" href="#chars">Charaktere</a></li>
	<li><a data-toggle="tab" href="#kulturen">Eigene Kulturen</a></li>
	<li><a data-toggle="tab" href="#abstammungen">Eigen Abstammungen</a></li>
	<li><a data-toggle="tab" href="#ausbildungen">Eigene Ausbildungen</a></li>
</ul>

<div class="tab-content">
	<div class="tab-pane active" id="chars">
		{{ characters|raw }}
		<p><a href="index.php?page={{ characterpage }}" class="btn">Neuer Abenteurer</a></p>
	</div>
	<div class="tab-pane" id="kulturen">
		<p>{{ herkunft|raw }}</p>
		<p><a href="index.php?page={{ elementpage }}&type=herkunft" class="btn">Neue Kultur</a></p>
	</div>
	<div class="tab-pane" id="abstammungen">
		<p>{{ abstammung|raw }}</p>
		<p><a href="index.php?page={{ elementpage }}&type=abstammung" class="btn">Neue Abstammung</a></p>
	</div>
	<div class="tab-pane" id="ausbildungen">
		<p>{{ ausbildung|raw }}</p>
		<p><a href="index.php?page={{ elementpage }}&type=ausbildung" class="btn">Neue Ausbildung</a></p>
	</div>
</div>
