<ul class="nav">

	{% for point in menu %}
		{% if point.children %}
			<li class="dropdown{%  if point.id == current %} active{% endif %}">
				<a href="{{ point.link }}" class="dropdown-toggle" data-toggle="dropdown">
					{{ point.name }} <b class="caret"></b>
				</a>

				<ul class="dropdown-menu">
					{% for subpoint in point.children %}
						<li{%  if subpoint.id == current %} class="active"{% endif %}>
							<a href="{{ subpoint.link }}">{{ subpoint.name }}</a>
						</li>
					{% endfor %}
				</ul>
			</li>
		{% else %}
			<li{%  if point.id == current %} class="active"{% endif %}>
				<a href="{{ point.link }}">{{ point.name }}</a>
			</li>
		{% endif %}
	{% endfor %}

</ul>
