<table width="100%">
	<tr>
		<td width="60%" style="padding-right: 5px;">

			<table class="table small-caption">
				<tr>
					<th>Name</th>
					<td>{{ char.name }}</td>
				</tr>
			</table>

			<table class="table small-caption">
				<tr>
					<th>Ausbildung</th>
					<td colspan="3">{{ char.ausbildung.name }}</td>
				</tr>
				<tr>
					<th>Kultur</th>
					<td>{{ char.herkunft.name }}</td>
					<th>Abstammung</th>
					<td>{{ char.abstammung.name }}</td>
				</tr>
				<tr>
					<th>Rasse</th>
					<td>{{ char.rasse.name }}</td>
					<th>Geschlecht</th>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<th>Haarfarbe</th>
					<td>&nbsp;</td>
					<th>Körpergröße</th>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<th>Augenfarbe</th>
					<td>&nbsp;</td>
					<th>Gewicht</th>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<th>Hautfarbe</th>
					<td>&nbsp;</td>
					<th>Geburtsort</th>
					<td>&nbsp;</td>
				</tr>
			</table>

			<table class="table small-caption">
				<tr>
					<th>Schwächen</th>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td colspan="2">&nbsp;</td>
				</tr>
				<tr>
					<th>Sprachen</th>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td colspan="2">&nbsp;</td>
				</tr>
				<tr>
					<th>Kulturkunde</th>
					<td>&nbsp;</td>
				</tr>
			</table>


			<table class="table">
				<tr>
					<th colspan="2">Erfahrungspunkte (EP)</th>
				</tr>
				<tr>
					<td width="80">Gesamt</td>
					<td>&nbsp;</td>
				</tr>
			</table>

		</td><td valign="bottom">

			<table class="table small-caption">
				<tr>
					<th>Mondzeichen</th>
					<td>{{ char.mondzeichen }}</td>
				</tr>
			</table>

			<table class="table small-caption">
				<tr>
					<th>Splitterpunkte</th>
					<td class="grey">Normal</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
			</table>

			<p><b>Pro Splitterpunkt:</b> eine Probe +3, Wiederstandswert +3, Schaden einer Quelle -5, Mondzeichen einsetzen</p>

			<table class="table">
				<tr>
					<th colspan="2">Mondzeichen-Fähigkeiten</th>
				</tr>
				<tr>
					<td>Grad 1</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td valign="top" width="80">Grad 2</td>
					<td><ul>
							<li>Einsatz 2:1 für Gefährten ohne
							Splitterpunkte</li>
							<li>Verstärken eines Gefährten-Splittergabe:
							Probe und Wid. +5 statt +3
							Schaden -8 statt -5</li>
					</ul></td>
				</tr>
				<tr>
					<td>Grad 3</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td>Grad 4</td>
					<td>&nbsp;</td>
				</tr>
			</table>

		</td>
	</tr>
</table>

<table width="100%">
	<tr>
		<td width="35%" style="padding-right: 5px;">
			<table class="table table-striped">
				<tr>
					<th colspan="2">Attribute</th>
					<th>Start</th>
					<th>Wert</th>
					<th>mod.</th>
				</tr>

				{% for attrId, attrData in definitions.attributes %}
					<tr>
						<td>{{ attrData.name }}</td>
						<td>{{ attrId }}</td>
						<td>{{ char.start_attribute[attrId] }}</td>
						<td class="wert">{{ char.stats.attributes[attrId] }}</td>
						<td>{{ char.rasse.attributes[attrId] }}</td>
					</tr>
				{%  endfor %}
			</table>


		</td>
		<td valign="top">


			<table class="table table-striped">
				<tr>
					<th colspan="2">Abgeleitete Werte</th>
					<th>Wert</th>
					<th>mod.</th>
					<th>temp.</th>
					<th>&nbsp;</th>
				</tr>
				<tr>
					<td>Größenklasse</td>
					<td>GK</td>
					<td>{{ char.stats.misc.size }}</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td class="grey">Rasse</td>
				</tr>
				<tr>
					<td>Geschwindigkeit</td>
					<td>GSW</td>
					<td>{{ char.stats.misc.size + char.stats.attributes.BEW }}</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td class="grey">GK + BEW</td>
				</tr>
				<tr>
					<td>Initiative</td>
					<td>INI</td>
					<td>{{ 10 - char.stats.attributes.INT }}</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td class="grey">10 - INT</td>
				</tr>
				<tr>
					<td>Lebenspunkte</td>
					<td>LP</td>
					<td>{{ char.stats.misc.size + char.stats.attributes.KON }}</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td class="grey">GK + KON</td>
				</tr>
				<tr>
					<td>Fokus</td>
					<td>FO</td>
					<td>{{ 2 *( char.stats.attributes.MYS + char.stats.attributes.WIL ) }}</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td class="grey">2 x (MYS + WIL)</td>
				</tr>
				<tr>
					<td>Verteidigung</td>
					<td>VTD</td>
					<td>{{ 12 + char.stats.attributes.BEW + char.stats.attributes['STÄ'] + ( 5 - char.stats.misc.size ) * 2 }}</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td class="grey">12 + BEW + STÄ &plusmn; Rasse</td>
				</tr>
				<tr>
					<td>Geistiger Wiederstand</td>
					<td>GW</td>
					<td>{{ 12 + char.stats.attributes.VER + char.stats.attributes.WIL }}</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td class="grey">12 + VER + WIL</td>
				</tr>
				<tr>
					<td>Körperlicher Wiederstand</td>
					<td>KW</td>
					<td>{{ 12 + char.stats.attributes.KON + char.stats.attributes.WIL }}</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td class="grey">12 + KON + WIL</td>
				</tr>
			</table>
			</div>

		</td>
	</tr>
</table><table width="100%" style="page-break-after: always;">
	<tr>
		<td width="50%" style="padding-right: 5px;">
			<table class="table">
				<tr>
					<th>Fertigkeit</th>
					<th>Wert</th>
					<th>Punkte</th>
					<th>Att 1</th>
					<th>Att 2</th>
					<th>mod.</th>
				</tr>

				{% for skillId, skillData in definitions.skills %}
					{% if skillData.type == "normal" %}
						<tr>
							<td>{{ skillId }}</td>
							<td class="wert">{{ char.stats.skills[skillId] + char.stats.attributes[skillData.attr1] + char.stats.attributes[skillData.attr2] }}</td>
							<td>{{ char.stats.skills[skillId] }}</td>
							<td>{{ char.stats.attributes[skillData.attr1] }}</td>
							<td>{{ char.stats.attributes[skillData.attr2] }}</td>
							<td>&nbsp;</td>
						</tr>
					{% endif %}
				{%  endfor %}
			</table>

		</td><td>


		</td>
	</tr>
</table>
