<h2>{{ title }}</h2>

{{ content|raw }}
{% if spells %}
	{% for name, data in spells %}
		<h5 style="clear: both">{{ name }}</h5>

		<ul style="list-style: none; width: 60%" class="pull-right">
			<li><strong>Wirkung:</strong> {{ data.Wirkung }}</li>
			<li><strong>Verstärkt:</strong> {{ data['Verstärkt'] }}</li>
			<li><strong>Optionen:</strong> {{ data.Optionen|join(', ') }}</li>
		</ul>

		<ul style="list-style: none;">
			<li><strong>Dauer:</strong> {{ data.Dauer }}</li>
			<li><strong>Zauberkosten:</strong> {{ data.Zauberkosten }}</li>
			<li><strong>Reichweite:</strong> {{ data.Reichweite }}</li>
			<li><strong>Schwierigkeit:</strong> {{ data.Schwierigkeit }}</li>
			<li><strong>Wirkungsdauer:</strong> {{ data.Wirkungsdauer }}</li>
			<li><strong>Schulen:</strong><ul>
					{% for schule, grad in data.schulen %}<li>{{ schule }} {{ grad }}</li>{% endfor %}
				</ul></li>
		</ul>
	{% endfor %}
{% else %}
	<div class="alert alert-info">
		Alle hier geslisteten Zauber entstammen dem
		<a href="http://splittermond.de/bibliothek/downloads/" target="_blank">Splittermond Grundregelwerk</a>
		und unterliegen damit dem Copyrights des <a href="http://www.uhrwerk-verlag.de/" target="_blank">Uhrwerk Verlags</a>.
	</div>

	<form class="form" action="{{ self }}" method="post">
		{% set multiple = 0 %}
		{% include 'creation/select_stats.twig' %}

		<div class="control-group pull-right" style="clear: right;">
			<button type="submit" class="btn btn-primary">Erstellen</button>
		</div>
	</form>
{% endif %}
