<!DOCTYPE html>
<html lang="de">
	<head>
		<meta charset="utf-8" />
		<title>IV Entertainment Adminpanel</title>

		{% for file in js %}<script type="text/javascript" src="{{ file }}"></script>{% endfor %}
		{% for file in css %}<link rel="stylesheet" href="{{ file }}" type="text/css" />{% endfor %}
		<link rel="stylesheet" href="{{ base_dir }}/main.css" type="text/css" />
	</head>

	<body>
		<div id="header">
			<h1>IV Entertainment Adminpanel</h1>
		</div>

	{% macro submenu(menu) %}
		<ul>
			{% for point in menu.children %}
				{% if not point.hide %}
					<li>
						<a href="{{point.link}}" class="menulink" style="background-image: url('assets/small/{{point.icon}}');">{{point.name}}</a>
						{% if point.children %}{{ _self.submenu( point ) }}{% endif %}
					</li>
				{% endif %}
			{% endfor %}
		</ul>
	{% endmacro %}

		<div id="menu">
			<ul>
				{% for point in menu.children %}
					{% if not point.hide and point.children %}
						<li>
							<a href="{{point.link}}">{{point.name}}</a>
							{{ _self.submenu( point ) }}
						</li>
					{% endif %}
				{% endfor %}
			</ul>
		</div>



		<div id="content">
			{% if error %}
				<div class="error">{{ error }}</div>
			{% endif %}

			{{content|raw}}
		</div>
	</body>
</html>