h5 {
	background-color: #EEE;
	padding: 6px 10px;
	border-radius: 3px;
}

.character-element {
	padding: 10px 15px;
	max-width: 310px;
	min-height: 120px;
	display: inline-block;
}

.character-element img {
	float: left;
	margin: 8px 10px 8px 0;
}

@media print {
	.navbar { display: none }
}
