@page {
/* Angaben zum Seiten-Layout */
	margin: 0;
	marks: none;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
}

table {
	border-collapse: collapse;
}

.table {
	width: 100%;
	margin-bottom: 5px;
}

.table th {
	background-color: #B2B2B2;
	color: white;
	text-align: left;
}

.small-caption th {
	width: 100px;
}

.table th, .table td {
	border: 1px solid #B2B2B2;
	padding: 2px 3px;
}

.table tr:nth-child(even) {
	background-color: #F3F3F3
}

.table .wert {
	border: 2px solid #B2B2B2;
	padding: 1px 3px;
}

.grey {
	color: #B2B2B2;
}

ul {
	margin: 2px;
	padding-left: 10px;
}


