<!DOCTYPE html>
<html lang="de">
<head>
	<meta charset="utf-8">
	<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
	<meta http-equiv="content-style-type" content="text/css"/>
	<meta http-equiv="content-language" content="de-de"/>
	<meta http-equiv="imagetoolbar" content="no"/>
	<meta name="resource-type" content="document"/>
	<meta name="distribution" content="global"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{{ options.page.name }}</title>

	{% for file in css %}<link rel="stylesheet" href="{{ file }}" type="text/css" />{% endfor %}
	<link href="{{ base_dir }}/css/bootstrap-select.css" rel="stylesheet">
	<link href="{{ base_dir }}/css/bootstrap-spinedit.css" rel="stylesheet">
	<link href="{{ base_dir }}/css/custom.css" rel="stylesheet">

	{% for file in js %}<script type="text/javascript" src="{{ file }}"></script>{% endfor %}
	<script type="text/javascript" src="{{ base_dir }}/js/bootstrap-select.js"></script>
	<script type="text/javascript" src="{{ base_dir }}/js/bootstrap-spinedit.js"></script>
</head>

<body>


<div class="container" style="max-width: 800px;">

	<div class="navbar" style="margin-top: 20px;">
		<div class="navbar-inner">
			<div class="container">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>

				<a class="brand" href="index.php">{{ options.page.name }}</a>

				<div class="nav-collapse collapse">
					{{ header|raw }}
				</div>
			</div>
		</div>
	</div>

	<div id="content">{{ content|raw }}</div>
</div>

</body>
</html>
