<!DOCTYPE html>
<html lang="de">
<head>
	<meta charset="utf-8">
	<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
	<meta http-equiv="content-style-type" content="text/css"/>
	<meta http-equiv="content-language" content="de-de"/>
	<meta http-equiv="imagetoolbar" content="no"/>
	<meta name="resource-type" content="document"/>
	<meta name="distribution" content="global"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{{ options.page.name }}</title>

	<link href="{{ base_dir }}/css/print.css" rel="stylesheet">
</head>

<body>{{ content|raw }}</body>

</html>
