{{ content|raw }}

<ul class="nav nav-tabs" id="myTab">
	<li class="active"><a data-toggle="tab" href="#char-home">Allgemein</a></li>
	<li><a data-toggle="tab" href="#char-skills">Fertigkeiten</a></li>
	<li><a data-toggle="tab" href="#char-magic">Zauber</a></li>
	<li><a data-toggle="tab" href="#char-combat">Kampf</a></li>
	<li><a data-toggle="tab" href="#char-strength">Stärken & Schwächen</a></li>
	<li><a data-toggle="tab" href="#char-inventar">Inventar</a></li>
</ul>

<div class="tab-content">
	<div class="tab-pane active" id="char-home">
		<h3>Allgemeine Infos</h3>

		<table class="table table-striped">
			<tr>
				<th>Name</th>
				<td>{{ char.name }}</td>
			</tr>
			<tr>
				<th>Ausbildung</th>
				<td>{{ char.ausbildung.name }}</td>
			</tr>
			<tr>
				<th>Kultur</th>
				<td>{{ char.herkunft.name }}</td>
			</tr>
			<tr>
				<th>Rasse</th>
				<td>{{ char.rasse.name }}</td>
			</tr>
			<tr>
				<th>Abstammung</th>
				<td>{{ char.abstammung.name }}</td>
			</tr>
			<tr>
				<th>Mondzeichen</th>
				<td>{{ char.mondzeichen }}</td>
			</tr>
		</table>

		<h3>Attribute</h3>

		<table class="table table-striped">
			<tr>
				<th>Attribut</th>
				<th>Start</th>
				<th>Wert</th>
				<th>mod.</th>
			</tr>

			{% for attrId, attrData in definitions.attributes %}
				<tr>
					<td>{{ attrData.name }}</td>
					<td>{{ char.start_attribute[attrId] }}</td>
					<td>{{ char.stats.attributes[attrId] }}</td>
					<td>{{ char.rasse.attributes[attrId] }}</td>
				</tr>
			{%  endfor %}
		</table>

		<h3>Abgeleitet</h3>

		<table class="table table-striped">
			<tr>
				<th>Größenklasse</th>
				<td>{{ char.stats.misc.size }}</td>
			</tr>
			<tr>
				<th>Geschwindigkeit</th>
				<td>{{ char.getGeschwindigkeit }}</td>
			</tr>
			<tr>
				<th>Initiative</th>
				<td>{{ char.getInitiative }}</td>
			</tr>
			<tr>
				<th>Lebenspunkte</th>
				<td>{{ char.getLebenspunkte }}</td>
			</tr>
			<tr>
				<th>Fokus</th>
				<td>{{ char.getFokus }}</td>
			</tr>
			<tr>
				<th>Verteidigung</th>
				<td>{{ char.getVerteidigung }}</td>
			</tr>
			<tr>
				<th>Geistiger Wiederstand</th>
				<td>{{ char.getGeistigerWiederstand }}</td>
			</tr>
			<tr>
				<th>Körperlicher Wiederstand</th>
				<td>{{ char.getKoerperlichenWiederstand }}</td>
			</tr>
		</table>

		<h3>Resourcen</h3>

		<table class="table table-striped">
			<tr>
				<th>Resource</th>
				<th>Wert</th>
			</tr>

			{% for resId, value in char.stats.resources %}
				<tr>
					<td>{{ resId }}</td>
					<td>{{ value }}</td>
				</tr>
			{%  endfor %}
		</table>
	</div>


	<div class="tab-pane" id="char-skills">
		<h3>Fähigkeiten</h3>

		<table class="table table-striped">
			<tr>
				<th>Fertigkeit</th>
				<th>Wert</th>
				<th>Punkte</th>
				<th class="hidden-phone">Att 1</th>
				<th class="hidden-phone">Att 2</th>
				<th class="hidden-phone">mod.</th>
			</tr>

			{% for skillId, skillData in definitions.skills %}
				{% if skillData.type == "normal" %}
					<tr>
						<td>{{ skillId }}</td>
						<td>{{ char.stats.skills[skillId] + char.stats.attributes[skillData.attr1] + char.stats.attributes[skillData.attr2] }}</td>
						<td>{{ char.stats.skills[skillId] }}</td>
						<td class="hidden-phone">{{ char.stats.attributes[skillData.attr1] }}</td>
						<td class="hidden-phone">{{ char.stats.attributes[skillData.attr2] }}</td>
						<td class="hidden-phone">&nbsp;</td>
					</tr>
				{% endif %}
			{%  endfor %}
		</table>

		<h3>Meisterschaften</h3>

		<table class="table table-striped">
			<tr>
				<th>Meisterschaft</th>
				<th>Bedeutung</th>
			</tr>

			{% for mastery, level in char.stats.masteries %}
					<tr>
						<td>{{ mastery }}</td>
						<td>&nbsp;</td>
					</tr>
			{%  endfor %}
		</table>
	</div>
	<div class="tab-pane" id="char-magic">
		<h3>Magieschulen</h3>

		<table class="table table-striped">
			<tr>
				<th>Fertigkeit</th>
				<th>Wert</th>
				<th>Punkte</th>
				<th class="hidden-phone">Att 1</th>
				<th class="hidden-phone">Att 2</th>
				<th class="hidden-phone">mod.</th>
			</tr>

			{% for skillId, skillData in definitions.skills %}
				{% if skillData.type == "magie" and char.stats.skills[skillId] %}
					<tr>
						<td>{{ skillId }}</td>
						<td>{{ char.stats.skills[skillId] + char.stats.attributes[skillData.attr1] + char.stats.attributes[skillData.attr2] }}</td>
						<td>{{ char.stats.skills[skillId] }}</td>
						<td class="hidden-phone">{{ char.stats.attributes[skillData.attr1] }}</td>
						<td class="hidden-phone">{{ char.stats.attributes[skillData.attr2] }}</td>
						<td class="hidden-phone">&nbsp;</td>
					</tr>
				{% endif %}
			{%  endfor %}
		</table>

		<h3>Zauber</h3>
		<table class="table table-striped">
			<tr>
				<th>Zauber</th>
				<th>Schule</th>
				<th class="hidden-phone">Schw.</th>
				<th class="hidden-phone">Fokus</th>
				<th class="hidden-phone">ZD</th>
				<th class="hidden-phone">RW</th>
			</tr>

			{% for skill, spells in char.stats.spells %}
				{% for spell, i in spells %}
					<tr>
						<td>{{ spell }}</td>
						<td>{{ skill }}</td>
						<td class="hidden-phone">{{ definitions.spells[spell].Schwierigkeit }}</td>
						<td class="hidden-phone">{{ definitions.spells[spell].Zauberkosten }}</td>
						<td class="hidden-phone">{{ definitions.spells[spell].Dauer }}</td>
						<td class="hidden-phone">{{ definitions.spells[spell].Reichweite }}</td>
					</tr>
				{% endfor %}
			{%  endfor %}
		</table>
	</div>
	<div class="tab-pane" id="char-combat">
		<h3>Kampffertigkeiten</h3>

		<table class="table table-striped">
			<tr>
				<th>Fertigkeit</th>
				<th>Punkte</th>
			</tr>

			{% for skillId, skillData in definitions.skills %}
				{% if skillData.type == "kampf" %}
					<tr>
						<td>{{ skillId }}</td>
						<td>{{ char.stats.skills[skillId] }}</td>
					</tr>
				{% endif %}
			{%  endfor %}
		</table>
	</div>
	<div class="tab-pane" id="char-strength">
		<h3>Stärken</h3>

		<table class="table table-striped">
			<tr>
				<th style="width: 50%">Stärke</th>
				<th>Wirkung</th>
			</tr>

			{% for strength, value in char.stats.strengths %}
				<tr>
					<td>{{ strength }}{% if value > 1 %} ({{ value }}){% endif %}</td>
					<td>&nbsp;</td>
				</tr>
			{%  endfor %}
		</table>

		<h3>Schwächen</h3>

		<table class="table table-striped">
			<tr>
				<th style="width: 50%">Schwäche</th>
				<th>Wirkung</th>
			</tr>

			{% for weakness, i in char.stats.weaknesses %}
				<tr>
					<td>{{ weakness }}</td>
					<td>&nbsp;</td>
				</tr>
			{%  endfor %}
		</table>
	</div>
	<div class="tab-pane" id="char-inventar">
		<h3>Inventar</h3>
		<p style="margin: 10px; padding: 10px; background-color: #FFF;">{{ char.inventar }}</p>
	</div>
</div>








