%FDF-1.2
1 0 obj<</FDF<< /Fields[
<</T(Name)/V({{ char.name|uml }})>>
<</T(Ausbildung)/V({{ char.ausbildung.name|uml }})>>
<</T(Kultur)/V({{ char.herkunft.name|uml }})>>
<</T(Abstammung)/V({{ char.abstammung.name|uml }})>>
<</T(Rasse)/V({{ char.rasse.name|uml }})>>
<</T(Mondzeichen)/V({{ char.mondzeichen|uml }})>>
{% for str, val in char.stats.strengths  %}
<</T(StärkenRow{{ loop.index }})/V({{ str|uml }})>>
<</T(WirkungRow{{ loop.index }})/V()>>
{% endfor %}
{#
<</T(Schw&#228;chen_1)/V({{  Schw&#228;chen_1 }})>>
<</T(Schw&#228;chen_2)/V({{  Schw&#228;chen_2 }})>>
<</T(Schw&#228;chen_3)/V({{  Schw&#228;chen_3 }})>>
#}
{% for attrId, attrData in definitions.attributes %}
<</T({{ attrId }}_Start)/V({{ char.start_attribute[attrId]  }})>>
<</T({{ attrId }}_mod)/V({{ char.rasse.attributes[attrId] }})>>
<</T({{ attrId }}_Wert)/V({{ char.stats.attributes[attrId] }})>>
{%  endfor %}
<</T(GK_Wert)/V({{ char.stats.misc.size }})>>
<</T(GSW_Wert)/V({{ char.getGeschwindigkeit }})>>
<</T(INI_Wert)/V({{ char.getInitiative }})>>
<</T(LP_Wert)/V({{ char.getLebenspunkte }})>>
<</T(FO_Wert)/V({{ char.getFokus }})>>
<</T(VTD_Wert)/V({{ char.getVerteidigung }})>>
<</T(GW_Wert)/V({{ char.getGeistigerWiederstand }})>>
<</T(KW_Wert)/V({{ char.getKoerperlichenWiederstand }})>>
{% for skillId, skillData in definitions.skills %}
{% if skillData.type == "normal" %}
<</T({{ skillId|spf }}_Wert)/V({{  char.stats.skills[skillId] + char.stats.attributes[skillData.attr1] + char.stats.attributes[skillData.attr2] }})>>
<</T({{ skillId|spf }}_Punkte)/V({{  char.stats.skills[skillId] }})>>
{% endif %}
{% endfor %}
{% for skillId, skillData in definitions.skills %}
{% if skillData.type == "kampf" %}
<</T({{ skillId|spf }}_Punkte)/V({{ char.stats.skills[skillId] }})>>
{% endif %}
{% endfor %}
{% for skill, spells in char.stats.spells %}
{% for spell, i in spells %}
<</T(ZauberRow{{ loop.index }})/V({{ spell|uml }})>>
<</T(SchuleRow{{ loop.index }})/V({{ skill|uml }})>>
<</T(GradRow{{ loop.index }})/V({{ GradRow1 }})>>
<</T(SchwRow{{ loop.index }})/V({{ definitions.spells[spell].Schwierigkeit|uml }})>>
<</T(FokusRow{{ loop.index }})/V({{ definitions.spells[spell].Zauberkosten }})>>
<</T(ZDRow{{ loop.index }})/V({{ definitions.spells[spell].Dauer }})>>
<</T(RWRow{{ loop.index }})/V({{ definitions.spells[spell].Reichweite }})>>
<</T(WDRow{{ loop.index }})/V({{ WDRow1 }})>>
<</T(Verst&#228;rkungRow{{ loop.index }})/V({{  VerstarkungRow1 }})>>
<</T(SeiteRow{{ loop.index }})/V({{  SeiteRow1 }})>>
{% endfor %}
{%  endfor %}
{% for res, info in definitions.resources %}
<</T(R.{{ loop.index }}.0)/V({{ char.stats.resources[res] }})>>
<</T(R.{{ loop.index }}.1)/V({{ info.description|uml }})>>
{% endfor %}
{% for mastery, level in char.stats.masteries %}
<</T(M.0.0)/V({{ mastery|uml }})>>
<</T(M.0.1)/V({{ '' }})>>
<</T(M.0.2)/V({{ '' }})>>
{%  endfor %}
{#

<</T(M.0.0)/V({{  M.0.0 }})>>
<</T(M.0.1)/V({{  M.0.1 }})>>
<</T(M.0.2)/V({{  M.0.2 }})>>

<</T(N.0)/V({{  N.0 }})>>
<</T(N.1)/V({{  N.1 }})>>
<</T(N.2)/V({{  N.2 }})>>
<</T(N.3)/V({{  N.3 }})>>
<</T(N.4)/V({{  N.4 }})>>
<</T(N.5)/V({{  N.5 }})>>
<</T(N.6)/V({{  N.6 }})>>
<</T(N.7)/V({{  N.7 }})>>
<</T(N.8)/V({{  N.8 }})>>
<</T(N.9)/V({{  N.9 }})>>
<</T(N.10)/V({{  N.10 }})>>
<</T(N.11)/V({{  N.11 }})>>
<</T(N.12)/V({{  N.12 }})>>
<</T(N.13)/V({{  N.13 }})>>
<</T(N.14)/V({{  N.14 }})>>
#}
<</T(Lunare)/V({{ Lunare }})>>
<</T(Kupfer)/V({{ Kupfer }})>>
<</T(Solare)/V({{ Solare }})>>
{% set counter = 0 %}
{% for skillId, skillData in definitions.skills %}
{% if skillData.type == "magie" and char.stats.skills[skillId] %}
{% set counter = counter + 1 %}
<</T(Magieschule_{{ counter }})/V({{ skillId|uml }})>>
<</T(Magieschule_{{ counter }}_Wert)/V({{ char.stats.skills[skillId] + char.stats.attributes[skillData.attr1] + char.stats.attributes[skillData.attr2] }})>>
<</T(Magieschule_{{ counter }}_Punkte)/V({{ char.stats.skills[skillId] }})>>
<</T(Magieschule_{{ counter }}_Att2)/V({{ char.stats.attributes[skillData.attr2] }})>>
{% endif %}
{%  endfor %}
] >> >>
endobj
trailer
<</Root 1 0 R>>
%%EOF
