<h3>Attribute vergeben</h3>

{% if error %}<div class="alert alert-error">{{ error }}</div>{% endif %}

<form method="post" action="{{ self }}">
	<table class="table table-striped">
		<tr>
			<th>Attribut</th>
			<th>Wert</th>
			<th>mod.</th>
		</tr>
		{% for attrId, attrData in attributes %}
			<tr>
				<td>{{ attrData.name }}</td>
				<td><input name="attributes[{{ attrId }}]" value="{{ values[attrId]|default(2) }}" type="text" class="spinedit"></td>
				<td>{{ char.rasse.attributes[attrId] }}</td>
			</tr>
		{%  endfor %}
		<tr>
			<th>Summe</th>
			<th id="total"></th>
			<th>&nbsp;</th>
		</tr>
	</table>

	<div class="control-group" style="text-align: right">
		<button type="submit" name="continue" class="btn btn-primary">Weiter</button>
	</div>
</form>

<script> $(function() {
		function updateTotal() {
			var total = 0;

			$('.spinedit').each(function(k,v) {
				total += v.value|0;
			})

			$('#total').text(total+'/18');
		}

		$('.spinedit').spinedit({minimum: 1, maximum: 3}).on('valueChanged', updateTotal);
		updateTotal();
	});</script>
