{% if element %}
	<h3>{{ element.name }}</h3>

	<p>{{ element.description }}</p>

	<form method="post" action="{{ self }}&element={{ element.id }}">
		<style type="text/css">.table tr { height: 40px }</style>

		{% for key, stats in element.stats %}
			<h4>{{ captions[key] }}</h4>
			<table class="table table-striped">
				{% for i, s in stats %}
					<tr>
						<td style="width: 60%">
							{% if s.options|length > 1 %}
								<select name="values[{{ key }}][{{ i }}]" class="selectpicker span4">
									{% for o in s.options %}<option>{{ o }}</option>{% endfor %}
								</select>
							{% else %}
								{{ s.options[0] }}
							{% endif %}
						</td><td>
							{{ s.value }}
						</td>
					</tr>
				{% endfor %}
			</table>
		{% endfor %}

		<div class="control-group" style="text-align: right">
			<a href="{{ self }}" class="btn btn-danger">Zurück</a>
			<button type="submit" name="continue" class="btn btn-primary">Weiter</button>
		</div>
	</form>

	<script>$(function() { $('.selectpicker').selectpicker(); });</script>
{% else %}
	<h3>{{ title }} wählen</h3>

	<ul class="nav nav-tabs" id="myTab">
		<li class="active"><a data-toggle="tab" href="#system">Sytem</a></li>
		{% if elements.own %}<li><a data-toggle="tab" href="#own">Eigene</a></li>{% endif %}
		{% if elements.community %}<li><a data-toggle="tab" href="#community">Community</a></li>{% endif %}
	</ul>

	<div class="tab-content">
	{% for type, items in elements %}
		<div class="tab-pane{% if loop.index == 1 %} active{% endif %}" id="{{ type }}">
		{% for element in items %}
			<a href="{{ self }}&element={{ element.id }}" class="btn character-element" style="margin: 10px; text-align: left;">
				{# <img src="assets/placeholder.png" alt="">
				<b>{{ element.name }}:</b> {{ element.description|slice(0, 170)  }} ...#}
				<b>{{ element.name }}:</b> {{ element.description|slice(0, 210)  }} ...
			</a>
		{% endfor %}
		</div>
	{% endfor %}
	</div>

	{% if type != 'rasse' %}
		<a href="index.php?page={{ elementpage }}&type={{ type }}&ref={{ char.id }}" class="btn btn-success">
			<span class="icon-plus icon-white"></span> Eigene Anlegen
		</a>
	{% endif %}
{% endif %}