{% for type, data in stats %}
	<h5>{% if data.total %}<span class="badge pull-right" id="{{ type }}-total"></span>{% endif %}{{ data.title }}</h5>

	<div id="{{ type }}">
		<div class="control-group stat-select">
			<select name="types[{{ type }}][0][]" class="selectpicker span5" data-size="15" data-selected-text-format="count>3"
					{% if data.values|length > 30 %}data-live-search="true"{% endif %}
					{% if multiple %}multiple{% endif %}>
				{% for key, value in data.values %}
					<option value="{{ key }}">{{ value }}</option>
				{% endfor %}
			</select>

			{%  if data.min == 1 and data.max == 1 %}
				<input name="values[{{ type }}][0]"  type="hidden" value="1" class="hidden">
			{% else %}
				<input name="values[{{ type }}][0]"  type="text" class="spinedit">
			{% endif %}

			<button style="vertical-align: top" type="button" class="btn btn-danger"><span class="icon-remove"></span></button>
		</div>

		<button type="button" class="btn add"><span class="icon-plus"></span> Add</button>
	</div>

	<script>
		$(function() {
			var allowed = '{{ data.total }}'|0;
			var aButton = $('#{{ type }} > .add');
			var append = '<div class="control-group">'+aButton.prev().html()+'</div>';
			var i = 1;

			function checkPoints() {
				var expensive = {% if data.costs %}{{ data.costs|json_encode|raw }}{% else %}false{% endif %};

				if( expensive ) {
					var select = $(this);
					var values = $(this).val();
					var costs = null;
					var error = false;

					if (typeof values === 'string')
						if (expensive[values])
							select.parent().find('input').val(expensive[values]);
						else for (var i in values) {
							var s = values[i];

							if (expensive[s]) {
								var c = expensive[s];
								select.parent().find('input').val(c);
								if (costs == null) costs = c;
								if (costs != c) error = true;
							}
						}

					select.selectpicker('setStyle', 'btn-danger', error ? 'add' : 'remove');
				}

				updateTotal();
			}

			function updateTotal() {
				var total = 0;

				$('#{{ type }} .spinedit, #{{ type }}  .hidden').each( function( k, v ) {
					total += v.value|0;
				});

				var bubble = $('#{{ type }}-total');
				bubble.html(total+'/'+allowed);

				if( allowed == total ) bubble.addClass('badge-success'); else bubble.removeClass('badge-success');
				if( allowed < total ) bubble.addClass('badge-important'); else bubble.removeClass('badge-important');
			}

			function remove() {
				$(this).parent().remove();
				updateTotal();
			}

			function add( v ) {
				v.before( append.replace(/\[0\]/g, '['+(i++)+']' ));
				v.prev().find('.selectpicker').selectpicker().change(checkPoints);
				v.prev().find('.spinedit').spinedit({minimum: {{ data.min }}, maximum: {{ data.max }}});
				v.prev().find('.spinedit').on( 'valueChanged', updateTotal );
				v.prev().find('.btn-danger').on( 'click', remove );
				updateTotal();
				return false;
			}

			aButton.click( function() { add($(this)); });

			$('#{{ type }} > .stat-select > .spinedit').spinedit({minimum: {{ data.min }}, maximum: {{ data.max }}});
			$('#{{ type }} > .stat-select > .spinedit').on( 'valueChanged', updateTotal );
			$('#{{ type }} > .stat-select > .btn-danger').on( 'click', remove );

			$('#{{ type }} > .stat-select > .selectpicker').selectpicker().change(checkPoints);
			{% for i, sel in post.types[type] %}
				{% if i > 0 %}add(aButton);{% endif %}
				$('select[name="types[{{ type }}][{{ i }}][]"]').selectpicker('val', {{ sel|json_encode|raw }});
				$('input[name="values[{{ type }}][{{ i }}]"]').val({{ post.values[type][i] }});
			{% endfor %}

			updateTotal();
		});
	</script>
{% endfor %}
