
<form method="post" action="{{ self }}">
	{% if masteries %}
		<h3>Meisterschaften Wählen</h3>

		<table class="table table-striped">
			<tr>
				<th>Fertigkeit</th>
				<th>Meisterschaft</th>
			</tr>
			{% for skill, options in masteries %}
				<tr>
					<td>{{ skill }}</td>
					<td><select name="masterie[{{ skill }}]" class="selectpicker span4">
						{% for o in options %}
							<option>{{ o }}</option>
						{% endfor %}
					</select></td>
				</tr>
			{% endfor %}
		</table>
	{% endif %}

	{% if spells %}
	<h3>Zauber Wählen</h3>

		<table class="table table-striped">
			<tr>
				<th>Fertigkeit</th>
				<th>Meisterschaft</th>
			</tr>
			{% for skill, grade in spells %}
				{% for grad, options in grade %}
					<tr>
						<td>{{ skill }} Grad {{ grad }}</td>
						<td><select name="spell[{{ skill }}][{{ grad }}]" class="selectpicker span4">
								{% for o in options %}
									<option>{{ o }}</option>
								{% endfor %}
							</select></td>
					</tr>
				{% endfor %}
			{% endfor %}
		</table>
	{% endif %}

	<h3>Ausrüstung wählen</h3>

	<div class="control-group">
		<textarea name="equipment" class="input-xxlarge" rows="4">robuste Kleidung, eine Decke, einen Wasserschlauch, Essgeschirr, Feuerstein und Stahl, Marschrationen für 3 Tage und 5 Fackeln oder eine Laterne samt Lampenöl</textarea>
	</div>

	<div class="control-group" style="text-align: right">
		<button type="submit" name="continue" class="btn btn-primary">Weiter</button>
	</div>
</form>

<script>$(function() { $('.selectpicker').selectpicker(); });</script>
