<form action="{{ self }}" method="post">
	<h3>Mondzeichen und Schwächen</h3>

	{% if error %}<div class="alert alert-error">{{ error }}</div>{% endif %}

	<div class="control-group strength">
		<label for="mondzeichen">Mondzeichen</label>
		<select  name="mondzeichen" id="mondzeichen">
			{% for z, data in mondzeichen %}<option>{{ z }}</option>{% endfor %}
		</select>
	</div>

	<script>$(function() { $('#mondzeichen').selectpicker(); });</script>

	{% include 'creation/select_stats.twig' %}

	<div class="control-group" style="text-align: right">
		<button type="submit" class="btn btn-primary">Weiter</button>
	</div>
</form>