<div id="{{ type }}">
	<ul class="statlist">
		{% for key, value in char.stats[type] %}
			<li>
				<input type="hidden" name="stats[{{ type }}][{{ key }}]" value="1">
				<button type="button" class="btn btn-danger pull-right btn-mini" onclick="$(this).parent().remove();"><span class="icon-remove"></span></button>
				{{ key }}
			</li>
		{%  endfor %}
	</ul>

	<select class="selectpicker span5" data-live-search="true">
		{% for k,v in options %}
			<option value="{{ k }}">{{ v }}</option>
		{% endfor %}
	</select>

	<button type="button" class="btn add-list-item" style="margin-bottom: 10px;" data-type="{{ type }}">Hinzufügen</button>

</div>
